* {
    box-sizing: border-box;
}

body {
    background: #282D35;
    margin: 0;
    font-family: Inter, sans-serif;
}

nav {
    display: flex;
    align-items: center;
    background-color: #21222A;
    padding: 30px 25px;
    height: 90px;
}

.nav--logo_text, .nav--title {
    margin: 0;
}

.nav--logo_text {
    margin-right: auto;
    color: #61DAFB;
    font-weight: 700;
    font-size: 22px;
}

.nav--title {
    color: #DEEBF8;
    font-weight: 600;
}

.nav--icon {
    height: 30px;
    margin-right: 7px;
}

.main {
    background-image: url(./img/react-half.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
}

.main--title {
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    font-size: 39px;
    color: #ffffff;
    letter-spacing: -0.05em;
    line-height: 47px;
    padding: 50px;
}

.main--facts {
    margin-left: 50px;
}

.main--facts > li {
    color: #ffffff;
    line-height: 19px;
    padding-block: 10px;
    max-width: 400px ;
}

li::marker {
    font-size: 1.4rem;
    color: #61DAFB;
}